<div>
  <div class="header-img">
    <div class="header-text">
      <h1 class="title mb-3">Ristorante Il Gambero Rosso</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A iure nostrum sit ducimus ut iusto unde?
        Reprehenderit velit accusantium cum.</p>
      <a routerLink="/menu" class="btn btn-success" role="button" data-bs-toggle="button">Our Menu</a>
      <a routerLink="/" class="btn btn-success ms-2 me-2" role="button" data-bs-toggle="button">Book a Table</a>
    </div>
    <div class="hero-bg"></div>
  </div>
  <h1 class="text-center m-5 main-title">Ristorante Il Gambero Rosso</h1>
  <div class="container">
    <div class="d-flex justify-content-center p-3">
      <div class="ms-5"><img src="assets/img/1.jpg" alt="pic"></div>
      <div class="ms-5 me-5">
        <h3 class="pt-2">Welcome in our restaurant!</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, ducimus. Lorem ipsum dolor sit, amet
          consectetur adipisicing elit. Molestiae, reprehenderit!</p>
        <br>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam, vero.</p>
        <ul>
          <li>Lorem ipsum dolor sit amet.</li>
          <li>Lorem ipsum dolor sit amet, consectetur adipisicing.</li>
          <li>Lorem ipsum dolor sit.</li>
        </ul>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id esse, assumenda expedita quidem sed veritatis?
        </p>
      </div>
    </div>
  </div>
  <div class="bg-light mt-5">
    <h2 class="text-center pt-5 main-title">Why choose us?</h2>
    <div class="container pb-5">
      <p class="m-5 text-center">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit ipsum aliquid ab
        dolorum eum voluptatum.</p>
      <div class="row p-3">
        <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
          <h6>01</h6>
          <h5>Title First</h5>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis molestias.
          </p>
        </div>
        <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
          <h6>02</h6>
          <h5>Title Second</h5>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis molestias.
          </p>
        </div>
        <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
          <h6>03</h6>
          <h5>Title Third</h5>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis molestias.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-2">
    <h2 class="text-center pt-5 main-title"> Check our specials!</h2>
    <div class="container">

      <p class="text-center pt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, veniam voluptas at
        voluptatum fugiat eius eligendi reprehenderit corporis inventore ipsum.</p>
        
      <div class="row p-5">
        <div class="col-3 me-">
          <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action active" id="list-one-list" data-bs-toggle="list"
              href="#list-one" role="tab" aria-controls="list-one">Special dish 01</a>
            <a class="list-group-item list-group-item-action" id="list-two-list" data-bs-toggle="list" href="#list-two"
              role="tab" aria-controls="list-two">Special dish 02</a>
            <a class="list-group-item list-group-item-action" id="list-three-list" data-bs-toggle="list"
              href="#list-three" role="tab" aria-controls="list-three">Special dish 03</a>
            <a class="list-group-item list-group-item-action" id="list-four-list" data-bs-toggle="list"
              href="#list-four" role="tab" aria-controls="list-four">Special dish 04</a>
            <a class="list-group-item list-group-item-action" id="list-five-list" data-bs-toggle="list"
              href="#list-five" role="tab" aria-controls="list-five">Special dish 05</a>
          </div>
        </div>
        <div class="col-6">
          <div class="tab-content d-flex" id="nav-tabContent">
            <div class="tab-pane fade show active" id="list-one" role="tabpanel" aria-labelledby="list-one-list">
              <h5>Special dish 01</h5>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure aut fuga inventore voluptatum odit dolor!
              </p>
              <br>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, eum!</p>
              <br>
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem id esse distinctio ducimus iusto commodi, cum, aperiam cupiditate dolore cumque, nesciunt aliquam sed accusantium quos iure accusamus amet officiis pariatur beatae? Velit, sequi ad a ratione voluptatibus nostrum id magnam?</p>
            </div>
            <div class="tab-pane fade" id="list-two" role="tabpanel" aria-labelledby="list-two-list">
              <h5>Special dish 02</h5>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure aut fuga inventore voluptatum odit dolor!
              </p>
              <br>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, eum!</p>
              <br>
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem id esse distinctio ducimus iusto commodi, cum, aperiam cupiditate dolore cumque, nesciunt aliquam sed accusantium quos iure accusamus amet officiis pariatur beatae? Velit, sequi ad a ratione voluptatibus nostrum id magnam?</p>
            </div>
            <div class="tab-pane fade" id="list-three" role="tabpanel" aria-labelledby="list-three-list">
              <h5>Special dish 03</h5>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure aut fuga inventore voluptatum odit dolor!
              </p>
              <br>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, eum!</p>
              <br>
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem id esse distinctio ducimus iusto commodi, cum, aperiam cupiditate dolore cumque, nesciunt aliquam sed accusantium quos iure accusamus amet officiis pariatur beatae? Velit, sequi ad a ratione voluptatibus nostrum id magnam?</p>
            </div>
            <div class="tab-pane fade" id="list-four" role="tabpanel" aria-labelledby="list-four-list">
              <h5>Special dish 04</h5>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure aut fuga inventore voluptatum odit dolor!
              </p>
              <br>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, eum!</p>
              <br>
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem id esse distinctio ducimus iusto commodi, cum, aperiam cupiditate dolore cumque, nesciunt aliquam sed accusantium quos iure accusamus amet officiis pariatur beatae? Velit, sequi ad a ratione voluptatibus nostrum id magnam?</p>
            </div>
            <div class="tab-pane fade" id="list-five" role="tabpanel" aria-labelledby="list-five-list">
              <h5>Special dish 05</h5>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure aut fuga inventore voluptatum odit dolor!
              </p>
              <br>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, eum!</p>
              <br>
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem id esse distinctio ducimus iusto commodi, cum, aperiam cupiditate dolore cumque, nesciunt aliquam sed accusantium quos iure accusamus amet officiis pariatur beatae? Velit, sequi ad a ratione voluptatibus nostrum id magnam?</p>
            </div>
          </div>
          
        </div>
        <div class="col-3">
            <img src="assets/img/10.jpg" alt="pic">
        </div>
      </div>
    </div>
  </div>
