<h1 class="text-center m-5 main-title">About us</h1>
<div class="container">
  <div class="d-flex justify-content-center p-4">
    <div class="ms-5"><img src="assets/img/11.jpg" alt="pic"></div>
    <div class="ms-5 me-5">
      <h3 class="pb-2">Thomas Smith</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, ducimus. Lorem ipsum dolor sit, amet
        consectetur adipisicing elit. Molestiae, reprehenderit!</p>
      <br>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure fugiat nesciunt, distinctio vitae illo alias,
        nam nostrum sunt accusamus rerum velit! Totam ullam velit nam eius. Nostrum, harum iusto aliquid explicabo
        accusantium aspernatur accusamus dolores quas consequatur veritatis deleniti reiciendis modi impedit. Cum
        laudantium minus cupiditate. Corporis ipsam adipisci sequi.</p>
      <br>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima officiis blanditiis nulla, corrupti veniam
        voluptas? Nisi incidunt consequatur maxime facere? Excepturi perspiciatis a quaerat non, officia nobis. Cum,
        perferendis vitae.</p>
    </div>
  </div>
</div>
<div class="bg-light">
  <div class="container">
    <div class="d-flex justify-content-center p-5">
      <div class="ms-5 me-5">
        <h3 class="pb-2">Our Team</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, ducimus. Lorem ipsum dolor sit, amet
          consectetur adipisicing elit. Molestiae, reprehenderit!</p>
        <br>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure fugiat nesciunt, distinctio vitae illo alias,
          nam nostrum sunt accusamus rerum velit! Totam ullam velit nam eius. Nostrum, harum iusto aliquid explicabo
          accusantium aspernatur accusamus dolores quas consequatur veritatis deleniti reiciendis modi impedit. Cum
          laudantium minus cupiditate. Corporis ipsam adipisci sequi.</p>
        <br>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima officiis blanditiis nulla, corrupti veniam
          voluptas? Nisi incidunt consequatur maxime facere? Excepturi perspiciatis a quaerat non, officia nobis. Cum,
          perferendis vitae.</p>
      </div>
      <div class="ms-5"><img src="assets/img/12.jpg" alt="pic"></div>
    </div>
  </div>
</div>
<div class="container">
  <div class="d-flex justify-content-center p-5">
    <div class="ms-5"><img src="assets/img/13.jpg" alt="pic"></div>
    <div class="ms-5 me-5">
      <h3 class="pb-2">How we work?</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, ducimus. Lorem ipsum dolor sit, amet
        consectetur adipisicing elit. Molestiae, reprehenderit!</p>
      <br>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure fugiat nesciunt, distinctio vitae illo alias,
        nam nostrum sunt accusamus rerum velit! Totam ullam velit nam eius. Nostrum, harum iusto aliquid explicabo
        accusantium aspernatur accusamus dolores quas consequatur veritatis deleniti reiciendis modi impedit. Cum
        laudantium minus cupiditate. Corporis ipsam adipisci sequi.</p>
      <br>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima officiis blanditiis nulla, corrupti veniam
        voluptas? Nisi incidunt consequatur maxime facere? Excepturi perspiciatis a quaerat non, officia nobis. Cum,
        perferendis vitae.</p>
    </div>
  </div>
</div>
